@font-face {
    font-family: 'Economica';
    src: url('Economica-Bold.woff2') format('woff2'),
        url('Economica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Economica';
    src: url('Economica-Regular.woff2') format('woff2'),
        url('Economica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

