@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-Medium.woff2') format('woff2'),
        url('IBMPlexMono-Medium.woff') format('woff');

}

@font-face {
    font-family: 'SourceCodePro';
    src: url('SourceCodePro-VariableFont_wght.woff2') format('woff2'),
        url('SourceCodePro-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

